<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Mostrar Información JSON desde API</title>
    <!-- Agrega el enlace al archivo de estilos de Tailwind CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    {% include 'navbar.html' %}
  </head>
  <body class="bg-slate-900 w-full">
    <div class="bg-gray-400 p-10 rounded-md m-6 text-black">
      <div
        class="w-[90%] mx-auto bg-slate-300 p-8 border-2 border-white rounded-md"
      >
        <h1 class="text-3xl font-bold mb-4">Búsqueda de información</h1>
        <div
          id="infoContainer"
          class="border border-gray-300 rounded p-4 mb-4 mx-auto w-full overflow-x-auto"
        >
          <table class="min-w-full bg-white">
            <thead>
              <tr>
                <th class="py-2 px-4 border-b border-gray-200">CNE</th>
                <th class="py-2 px-4 border-b border-gray-200">Comuna</th>
                <th class="py-2 px-4 border-b border-gray-200">Manzana</th>
                <th class="py-2 px-4 border-b border-gray-200">Predio</th>
                <th class="py-2 px-4 border-b border-gray-200">RUN/RUT</th>
                <th class="py-2 px-4 border-b border-gray-200">Derecho</th>
                <th class="py-2 px-4 border-b border-gray-200">
                  Fecha Inscripción
                </th>
                <th class="py-2 px-4 border-b border-gray-200">Fojas</th>
                <th class="py-2 px-4 border-b border-gray-200">Herencia</th>
                <th class="py-2 px-4 border-b border-gray-200">
                  Número Atención
                </th>
                <th class="py-2 px-4 border-b border-gray-200">
                  Número Inscripción
                </th>
                <th class="py-2 px-4 border-b border-gray-200">Status</th>
                <th class="py-2 px-4 border-b border-gray-200">Tipo</th>
              </tr>
            </thead>
            <tbody>
              {% for item in data %}
              <tr>
                <td class="py-2 px-4 border-b border-gray-200">
                  {{ item.cne }}
                </td>
                <td class="py-2 px-4 border-b border-gray-200">
                  {{ item.comuna }}
                </td>
                <td class="py-2 px-4 border-b border-gray-200">
                  {{ item.manzana }}
                </td>
                <td class="py-2 px-4 border-b border-gray-200">
                  {{ item.predio }}
                </td>
                <td class="py-2 px-4 border-b border-gray-200">
                  {{ item.RUNRUT }}
                </td>
                <td class="py-2 px-4 border-b border-gray-200">
                  {{ item.derecho }}
                </td>
                <td class="py-2 px-4 border-b border-gray-200">
                  {{ item.fecha_inscripcion }}
                </td>
                <td class="py-2 px-4 border-b border-gray-200">
                  {{ item.fojas }}
                </td>
                <td class="py-2 px-4 border-b border-gray-200">
                  {{ item.herencia }}
                </td>
                <td class="py-2 px-4 border-b border-gray-200">
                  {{ item.numero_atencion }}
                </td>
                <td class="py-2 px-4 border-b border-gray-200">
                  {{ item.numero_inscripcion }}
                </td>
                <td class="py-2 px-4 border-b border-gray-200">
                  {{ item.status }}
                </td>
                <td class="py-2 px-4 border-b border-gray-200">
                  {{ item.tipo }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
