<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Flask App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    {% include 'navbar.html' %}
  </head>
  <body class="bg-slate-900">
    <div class="bg-gray-400 p-10 min-h-[88.5svh] rounded-md m-6 text-black">
      <h1 class="text-3xl font-bold">
        Aplicacion para formularios de Bienes Raices
      </h1>
      <p class="mt-2 text-xl">
        En esta aplicacion se podran ingresar formularios de ingreso de datos
        para realizar tranferencias o regularizaciones de propiedades..
      </p>
    </div>
  </body>
</html>
