<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Listado de Formularios Ingresados</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    {% include 'navbar.html' %}
  </head>
  <body class="bg-slate-900 w-full">
    <div class="bg-gray-400 p-10 rounded-md m-6 text-black">
      <h1 class="text-3xl font-bold">Listado de Formularios Ingresados</h1>
      <div class="mt-8">
        <table
          class="min-w-[80%] mx-auto border-2 border-separate border-white rounded-md"
          id="formulariosTable"
        >
          <thead class="bg-slate-600 border border-separate rounded-md">
            <tr class="rounded-md">
              <th>N° Atención</th>
              <th>CNE</th>
              <th>Comuna</th>
              <th>Manzana</th>
              <th>Predio</th>
              <th>Fojas</th>
              <th>Fecha Inscripción</th>
              <th>Número Inscripción</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody
            id="formulariosBody"
            class="text-center align-middle [&>tr>td]:p-2 bg-slate-400 [&>tr>td>button]:border [&>tr>td>button]:my-auto [&>tr>td>button]:text-white [&>tr>td>button]:border-white [&>tr>td>button]:py-1 [&>tr>td>button]:px-4 [&>tr>td>button]:rounded-md"
          >
            {% for formulario in listado %}
            <tr class="text-center align-middle bg-slate-400">
              <td>{{ formulario.numero_atencion }}</td>
              <td>{{ formulario.cne }}</td>
              <td>{{ formulario.comuna }}</td>
              <td>{{ formulario.manzana }}</td>
              <td>{{ formulario.predio }}</td>
              <td>{{ formulario.fojas }}</td>
              <td>{{ formulario.fecha_inscripcion }}</td>
              <td>{{ formulario.numero_inscripcion }}</td>
              <td>{{ formulario.status }}</td>
              <td class="centre">
                <button
                  class="hover:bg-blue-500 bg-blue-600 mt-0"
                  onclick="redirectToDetails('{{ formulario.numero_atencion }}')"
                >
                  Más Información
                </button>

                {% if (formulario.status != 'vigente' or formulario.status !=
                'rectificador') %}
                <button
                  class="hover:bg-red-500 bg-red-500 mt-0"
                  onclick="anular_formulario('{{ formulario.numero_atencion }}')"
                >
                  Anular
                </button>
                {% endif %} {% if (formulario.status != 'vigente' or
                formulario.status != 'rectificado') %}
                <button
                  class="hover:bg-blue-500 bg-blue-600 mt-0"
                  onclick="habilitar_formulario('{{ formulario.numero_atencion }}')"
                >
                  Habilitar
                </button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
            <script>
              function redirectToDetails(numeroAtencion) {
                // Redirigir a la página de detalles con el número de atención como parámetro en la URL
                window.location.href =
                  "/detalle?numero_atencion=" + numeroAtencion;
              }
              function anular_formulario(numeroAtencion) {
                // Redirigir a la página de detalles con el número de atención como parámetro en la URL
              }
              function habilitar_formulario(numeroAtencion) {
                // Redirigir a la página de detalles con el número de atención como parámetro en la URL
              }
            </script>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
