<nav class="bg-gray-600 p-4">
  <div
    class="container px-4 flex justify-between items-center w-[100%] max-w-full"
  >
    <div class="flex items-center">
      <a
        href="/"
        class="text-white font-bold text-xl"
        >Grupo 19</a
      >
    </div>
    <div class="flex items-center">
      <div class="mr-4">
        <a
          href="/formulario"
          class="text-gray-300 text-lg hover:text-white"
          >Formulario</a
        >
      </div>
      <div class="mr-4">
        <a
          href="/json"
          class="text-gray-300 text-lg hover:text-white"
          >Json</a
        >
      </div>
      <div class="mr-4">
        <a
          href="/listado"
          class="text-gray-300 text-lg hover:text-white"
          >Listado</a
        >
      </div>
      <div class="mr-4">
        <a
          href="/busqueda"
          class="text-gray-300 text-lg hover:text-white"
          >Búsqueda</a
        >
      </div>
      <div class="mr-4">
        <a
          href="/busqueda_total"
          class="text-gray-300 text-lg hover:text-white"
          >Búsqueda Total</a
        >
      </div>
      <div>
        <a
          href="/multipropietario"
          class="text-gray-300 text-lg hover:text-white"
          >Multipropietario</a
        >
      </div>
    </div>
  </div>
</nav>
